@media screen and (min-width: 1280px) {
  .cover h1 {
    font-size: 9em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover h1 {
    font-size: 9em;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .cover h1 {
    font-size: 3em;
  }
}

.cover {
  height: 30rem;
  /* background-image: url(../assets/images/backsito.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background: #49c6e5;
  /* opacity: 0.9; */
  border-bottom: 10px solid black;
}

.cover h1 {
  color: white;
  font-family: Swistblnk Monthoers;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #323232;
  position: relative;
  top: 17rem;
}
